In [1]:
#1
s = "your_string"
reversed_s = s[::-1]
print(reversed_s)

gnirts_ruoy

In [2]:
#2
s = "your_string"
vowels = "aeiouAEIOU"
count = sum(1 for char in s if char in vowels)
print(count)

3

In [3]:
#3
s = "level"
is_palindrome = s == s[::-1]
print(is_palindrome)

True

In [4]:
#4
str1 = "listen"
str2 = "silent"
is_anagram = sorted(str1) == sorted(str2)
print(is_anagram)

True

In [5]:
#5
string = "banana"
substring = "ana"
positions = []
i = string.find(substring)
while i != -1:
    positions.append(i)
    i = string.find(substring, i + 1)
print(positions)

[1, 3]

In [6]:
#6
def compress(s):
    result = ""
    count = 1
    for i in range(1, len(s)+1):
        if i < len(s) and s[i] == s[i-1]:
            count += 1
        else:
            result += s[i-1] + (str(count) if count > 1 else '')
            count = 1
    return result
print(compress("aaabbbccca"))

a3b3c3a

In [7]:
#7
s = "abcdefg"
is_unique = len(set(s)) == len(s)
print(is_unique)

True

In [8]:
#8
s = "Hello"
print(s.upper())
print(s.lower())

HELLO
hello

In [9]:
#9
s = "This is a sentence"
words = s.split()
print(len(words))

4

In [10]:
#10
s1 = "Hello"
s2 = "World"
result = "".join([s1, s2])
print(result)

HelloWorld

In [11]:
#11
lst = [1, 2, 3, 2, 4, 2]
element = 2
new_list = [x for x in lst if x != element]
print(new_list)

[1, 3, 4]

In [12]:
#12
lst = [4, 2, 9, 7, 4, 8]
unique_lst = list(set(lst))
unique_lst.sort()
if len(unique_lst) >= 2:
    print(unique_lst[-2])
else:
    print("No second largest")

8

In [13]:
#13
lst = [1, 2, 2, 3, 3, 3]
counts = {}
for item in lst:
    counts[item] = counts.get(item, 0) + 1
print(counts)

{1: 1, 2: 2, 3: 3}

In [14]:
#14
lst = [1, 2, 3, 4]
for i in range(len(lst)//2):
    lst[i], lst[-i-1] = lst[-i-1], lst[i]
print(lst)

[4, 3, 2, 1]

In [15]:
#15
lst = [1, 2, 2, 3, 1, 4]
result = []
for x in lst:
    if x not in result:
        result.append(x)
print(result)

[1, 2, 3, 4]

In [16]:
#16
lst = [1, 2, 3, 4]
ascending = all(lst[i] <= lst[i+1] for i in range(len(lst)-1))
descending = all(lst[i] >= lst[i+1] for i in range(len(lst)-1))
print("Ascending" if ascending else "Descending" if descending else "Not sorted")

Ascending

In [17]:
#17
a = [1, 3, 5]
b = [2, 4, 6]
result = []
i = j = 0
while i < len(a) and j < len(b):
    if a[i] < b[j]:
        result.append(a[i])
        i += 1
    else:
        result.append(b[j])
        j += 1
result.extend(a[i:])
result.extend(b[j:])
print(result)

[1, 2, 3, 4, 5, 6]

In [18]:
#18
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
intersection = list(set(a) & set(b))
print(intersection)

[3, 4]

In [20]:
#19
a = [1, 2, 3]
b = [3, 4, 5]
union = list(set(a) | set(b))
print(union)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [21]:
#20
import random
lst = [1, 2, 3, 4, 5]
shuffled = []
temp = lst.copy()
while temp:
    i = random.randint(0, len(temp)-1)
    shuffled.append(temp.pop(i))
print(shuffled)

[3, 2, 4, 5, 1]

In [22]:
#21
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
common = tuple(set(t1) & set(t2))
print(common)

(3, 4)

In [42]:
#22
set1_input = input("Enter integers for first set (comma-separated, without braces): ")
set2_input = input("Enter integers for second set (comma-separated, without braces): ")

set1 = set(map(int, set1_input.split(',')))
set2 = set(map(int, set2_input.split(',')))

intersection = set1 & set2
print("Intersection of the two sets:", intersection)

Enter integers for first set (comma-separated, without braces): 1,3,5
Enter integers for second set (comma-separated, without braces): 2,4,6
Intersection of the two sets: set()

In [24]:
#23
def concat_tuples(t1, t2):
    return t1 + t2
print(concat_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

In [26]:
#24
set1 = set(input().split())
set2 = set(input().split())
print(set1 - set2)

1
3
{'1'}

In [27]:
#25
def tuple_slice(t, start, end):
    return t[start:end]
print(tuple_slice((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4)

In [29]:
#26
set1 = set(input().split())
set2 = set(input().split())
print(set1 | set2)

{1,2,3}
{1,1,2,2,3,3,4,4,5}
{'{1,1,2,2,3,3,4,4,5}', '{1,2,3}'}

In [30]:
#27
def max_min(t):
    mx, mn = max(t), min(t)
    return mx, mn
mx, mn = max_min((3, 7, 2, 9))
print("Max:", mx, "Min:", mn)

Max: 9 Min: 2

In [31]:
#28
a = {1, 2, 3}
b = {2, 3, 4}
print("Union:", a | b)
print("Intersection:", a & b)
print("Difference:", a - b)

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference: {1}

In [32]:
#29
t = (1, 2, 3, 2, 2, 4)
element = 2
print(t.count(element))

3

In [33]:
#30
set1 = set(input().split())
set2 = set(input().split())
print(set1 ^ set2)

{2,4,6}
{2,4,7,8,9}
{'{2,4,7,8,9}', '{2,4,6}'}

In [34]:
#31
lst = ["apple", "banana", "apple", "cherry", "banana"]
word_freq = {}
for word in lst:
    word_freq[word] = word_freq.get(word, 0) + 1
print(word_freq)

{'apple': 2, 'banana': 2, 'cherry': 1}

In [36]:
#32
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
merged = d1.copy()
for k, v in d2.items():
    merged[k] = merged.get(k, 0) + v
print(merged)

{'a': 1, 'b': 5, 'c': 4}

In [37]:
#33
def get_nested(d, keys):
    for k in keys:
        if isinstance(d, dict) and k in d:
            d = d[k]
        else:
            return None
    return d
nested = {'a': {'b': {'c': 1}}}
print(get_nested(nested, ['a', 'b', 'c']))

1

In [38]:
#34
d = {'a': 3, 'b': 1, 'c': 2}
# Ascending
sorted_d = dict(sorted(d.items(), key=lambda x: x[1]))
print(sorted_d)
# Descending
sorted_d_desc = dict(sorted(d.items(), key=lambda x: x[1], reverse=True))
print(sorted_d_desc)

{'b': 1, 'c': 2, 'a': 3}
{'a': 3, 'c': 2, 'b': 1}

In [39]:
#35
d = {'a': 1, 'b': 2, 'c': 1}
inv = {}
for k, v in d.items():
    inv.setdefault(v, []).append(k)
print(inv)

{1: ['a', 'c'], 2: ['b']}